{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1>Post index</h1>

    <div class="count">
        {{ pagination.getTotalItemCount }}
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'p.id') }}</th>
                <th{% if pagination.isSorted('p.title') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Title', 'p.title') }}
                </th>
                <th>Tags</th>
                <th{% if pagination.isSorted('p.publishDate') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'PublishDate', 'p.publishDate') }}
                </th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in pagination %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>
                    {% for tag in post.tags %}
                        <a href="{{ path('post_tag_index', {'id': tag.id}) }}">{{ tag.name }}</a>{% if not loop.last %},{% endif %}
                    {% endfor %}
                </td>
                <td>{{ post.publishDate ? post.publishDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('post_show', {'id': post.id}) }}">show</a>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('post_new') }}">Create new</a>
    {% endif %}
{% endblock %}
